.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 789px;
    height: 430px;
    z-index: 1;

    background: linear-gradient(to top left, #01518a, #0094ff);
}

.form .item {
    margin: 20px;
    color: #f3f3f3;
    font-size: 24px;
    width: 442px;
}

.statusText {
    width: 442px;
    text-align: left;
    color: white;
}

.ok {
    margin-bottom: 100px;
    font-size: 36px;
    color: white;
}

.button {
    padding-left: 77px;
}
