.profile {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 190px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

    text-align: center;
    background: white;
}

.change {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.edit {
    position: absolute;
    width: 316px;
    height: 160px;

    border-radius: 7px;
    background: white;
    opacity: .85;
    backdrop-filter: blur(5px);
}

.close {
    margin-left: 290px;
    margin-top: 5px;
}

.nameEdit {
    margin-top: -35px;
    margin-left: 60px;
    color: #0094ff;
}

.emailEdit {
    margin-top: 20px;
    margin-left: 60px;
    color: #0094ff;
}
