.courses {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 190px;
    padding-bottom: 2px;
    margin-bottom: 10px;

    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.6);

    text-align: center;
    background: white;
    color: black;
}

.checkedCourse {
    width: 680px;
    color: #f5f5f5;

    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 5px;
    border-bottom: 2px solid #bfbfbf;
}

.courseTitle {
    color: #f5f5f5;
    font-size: 38px;
    font-family: 'sansation-light', serif;
    /*text-decoration: underline;*/
    border-bottom: 2px solid #f5f5f5;
}

.course {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.percent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 72px;

    margin-top: 5px;
    border: 2px solid #f5f5f5;
    border-radius: 50px;
}
