.button {
    height: 50px;
    width: 120px;
    border: 1px solid white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    outline: none;

    color: black;
    background: white;
}

.button:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
}

.button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.disable {
    height: 50px;
    width: 120px;

    border: 1px solid white;
    color: white;
    background: #0069b6;
}

.blue {
    height: 50px;
    width: 120px;

    border: 2px solid white;
    color: #f5f5f5;
    /*background: #0094ff;*/
    background: rgba(0, 0, 0, 0);
}
.blue:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
}

.blue:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
