.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.logo {
    height: 260px;
    width: 260px;
    margin-right: -155px;
    z-index: 2;

    border: 30px solid white;
    border-radius: 300px;
    background: black;
}

.default {
    background: #0093fe;
}

.loading {
    height: 240px;
    width: 240px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 3;

    border-radius: 300px;
    background: white;
}

.error {
    background: #fe001e;
}

.ok {
    background: #00fe04;
}

.form {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-start;
    width: 828px;
    height: calc(465px - 45px);
    z-index: 1;

    padding-top: 45px;
    padding-left: 200px;

    background: linear-gradient(to top left, #01518a, #0094ff);
}

.form .item {
    margin-top: 20px;
}

.img {
    margin-top: 60px;
    margin-left: 45px;
}

.textarea {
    width: 688px;
    height: 210px;

    border: none;
    outline: none;
    resize: none;
}

.button {
    padding-left: 200px;
}
