.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;

    background: linear-gradient(180deg, #3890E2 -26.09%, #2272C5 47.66%, #153E8D 123.19%)
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;

    letter-spacing: 2px;
    color: white;
}

.center .text {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 48px;
    font-family: 'sansation-light', serif;
}

.person {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.person .text {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
}
